{% extends "base.html" %}

{% block content %}
    <h2>Analyses</h2>
    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Analysis Type</th>            
            <th>Options</th>
        </tr>
        {% for analysis in analyses %}
        <tr>
            <td>{{ analysis.name }}</td>
            <td>{{ analysis.analysis_type }}</td>
            <td>
                <a href="{#% url "project-detail" project.id %#}" class="btn btn-primary" role="button">View</a>
                <a href="{#% url "project-update" project.id %#}" class="btn btn-primary" role="button">Edit</a>
                <a href="{#% url "project-delete" project.id %#}" class="btn btn-primary" role="button">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    
{% endblock %}