{% extends "base.html" %}

{% block content %}
    <h2>Project {{project.name}}</h2>
    <table class="table">
    <tr>
    	<td>Name</td><td>{{project.name}}</td>
	</tr>
	<tr>
    	<td>Description</td><td>{{project.description}}</td>
    </tr>
    </table>
    <h3>Alignments</h3>
    <a href="{% url 'project-upload' project.id %}" class="btn btn-primary" role="button">Upload Alignments</a>
    <table class="table">
        <tr>

            <th>Name</th>
            <th>Options</th>
        </tr>
        {% for alignment_file in alignment_files %}
        <tr>
            <td>{{ alignment_file.name }}</td>
            <td>
                <a href="{#% url "project-detail" project.id %#}" class="btn btn-primary" role="button">View</a>
                <a href="{#% url "project-update" project.id %#}" class="btn btn-primary" role="button">Edit</a>
                <a href="{#% url "project-delete" project.id %#}" class="btn btn-primary" role="button">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    



{% endblock %}

