<br>
<h2>Files</h2>

<form action="{% url 'instance-action' project.id %}" method="POST" id="file_form">
{% csrf_token %}
<input type="hidden" name="action" value="">
    <div class="row-fluid">
      <div class="span6 pull-right" style="text-align:right;margin-right:50px;">
           <a href="#" class="btn btn-primary" role="button" onClick='submit_instance_form("stop")'>Stop</a>
           <a href="#" class="btn btn-primary" role="button" onClick='submit_instance_form("terminate")'>Terminate</a>
           <a href="#" class="btn btn-primary" role="button" onClick='submit_instance_form("delete")'>Delete</a>
      </div>
    </div>
    <br>
    <table class="table">
        <tr>
            <th>#<input type="checkbox" id="select_all"></th>
            <th>ID</th>
            <th>Name</th>
            <th>Status</th>
            <th>Created</th>
            <th>Started</th>
            <th>Finished</th>
            <th>Time Taken</th>
        </tr>
        {% for file in files %}  
        <tr>
            <td><input type="checkbox" name="files" value="{{ file.id }}"></td>
            <td>{{file.id}}</td>
            <td>{{file.name}}</td>
            <td>{{file.status}}</td>
            <td>{{file.created_date}}</td>
            <td>{{file.modified_date}}</td>
            <td>{{file.finished}}</td>
            <td>{{file.time_taken}}</td>
        </tr>
        {% endfor %}
    </table>

</form>